In [158]:
import csv
import sys
import random 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy.random as ran

def sex():
    x=random.randrange(0,1)
    if x == 0:  
      return 'Male'
    else:
      return 'Female'

def boolean():
    y=random.randint(0,1)
    if y == 0:  
      return 'no'
    else:
      return 'yes'

def enrolment():
    z=random.randint(0,1)
    if z == 0:  
      return 'UA'
    else:
      return 'MI'

def ccs():
    k=random.randint(0,1)
    if k == 0:  
      return 'I/II'
    else:
      return 'III/IV'

def manage():
        return 'no'

#creo istanze e le scrivo-salvo su file csv 
with open('prova2.csv', mode='w') as csv_file:
    
    #scrivo prima la riga di intestazione
    nomicolonne = ['PzId', 'Age', 'SEX', 'Diabetes', 'Hypercholest', 'Hyperten', 'Smoking', 'MI', 'MR', 'PTCA', 'CABG', 'SBP', 'HR', 'Creat', 'Enrl', 'KILLIP', 'CCS>II', 'DEP ST', 'HF (signs)', 'TN', 'CAA', 'AAS', 'Angina']   
    writer = csv.DictWriter(csv_file, fieldnames=nomicolonne)
    writer.writeheader()
    #aggiungo i dati
    for i in range(1000): #range(n)
     writer.writerow({'PzId': i, 'Age': int(random.gauss(63.4, 10.8)), 'SEX': sex(), 'Diabetes': boolean(), 'Hypercholest': boolean(), 'Hyperten': boolean(), 'Smoking': boolean(), 'MI': boolean(), 'MR': boolean(), 'PTCA': boolean(), 'CABG': boolean(), 'SBP':int(random.gauss(142.4, 26.9)), 'HR':int(random.normalvariate(75.3, 18.1)), 'Creat':int(random.gauss(1.37, 1.26)), 'Enrl':enrolment(), 'KILLIP':random.choice(['class1', 'class2', 'class3', 'class4']), 'CCS>II':ccs(), 'DEP ST':boolean(), 'HF (signs)':boolean(), 'TN':boolean(), 'CAA':manage(), 'AAS':boolean(), 'Angina':boolean()})
     i+1

In [159]:
import pandas as pd

df = pd.read_csv('prova2.csv')
df.head()

,PzId,Age,SEX,Diabetes,Hypercholest,Hyperten,Smoking,MI,MR,PTCA,...,Creat,Enrl,KILLIP,CCS>II,DEP ST,HF (signs),TN,CAA,AAS,Angina
0,0,73,Male,no,no,no,no,yes,no,no,...,1,MI,class1,III/IV,no,no,no,no,no,no
1,1,54,Male,yes,yes,yes,no,yes,no,no,...,1,UA,class1,I/II,yes,no,no,no,yes,no
2,2,50,Male,no,yes,yes,yes,yes,yes,no,...,0,UA,class3,III/IV,no,no,no,no,yes,yes
3,3,49,Male,yes,yes,yes,no,no,yes,yes,...,0,UA,class1,III/IV,no,yes,no,no,yes,yes
4,4,70,Male,no,yes,no,yes,yes,yes,yes,...,2,UA,class2,III/IV,no,no,yes,no,no,yes

In [160]:
df.shape

(1000, 23)

In [161]:
from grace2 import grace

#chiamo funz grace per calcolare classe di rischio di ogni paziente
risk_factors=["Age", "HR", "SBP", "KILLIP", "CAA", "TN", "Creat", "DEP ST"] #sono gli 8 attrib significativi usati per la predizione del liv di rischio
patient_data = df.set_index('PzId')[risk_factors]

with open('prova3.csv', mode='w') as csv_file:
    nomicolonne = ['PzId', 'Risk']
    writer = csv.DictWriter(csv_file, fieldnames=nomicolonne)
    writer.writeheader()
    for index, patient in patient_data.iterrows():   
     writer.writerow({'PzId': index, 'Risk': grace(patient, risk_factors)})
     i+1 
        
    #for index, patient in patient_data.iterrows():
    #risk=grace(patient, risk_factors)
    #print (index, risk)

In [162]:
#merge dei due file csv

#import pandas as pd

a = pd.read_csv("prova2.csv")
b = pd.read_csv("prova3.csv")
b = b.dropna(axis=1)
merged = a.merge(b, on='PzId')
merged.to_csv("combined.csv", index=False)


df = pd.read_csv('combined.csv')
df.head() 

#df.shape

,PzId,Age,SEX,Diabetes,Hypercholest,Hyperten,Smoking,MI,MR,PTCA,...,Enrl,KILLIP,CCS>II,DEP ST,HF (signs),TN,CAA,AAS,Angina,Risk
0,0,73,Male,no,no,no,no,yes,no,no,...,MI,class1,III/IV,no,no,no,no,no,no,False
1,1,54,Male,yes,yes,yes,no,yes,no,no,...,UA,class1,I/II,yes,no,no,no,yes,no,False
2,2,50,Male,no,yes,yes,yes,yes,yes,no,...,UA,class3,III/IV,no,no,no,no,yes,yes,False
3,3,49,Male,yes,yes,yes,no,no,yes,yes,...,UA,class1,III/IV,no,yes,no,no,yes,yes,False
4,4,70,Male,no,yes,no,yes,yes,yes,yes,...,UA,class2,III/IV,no,no,yes,no,no,yes,False

In [1]:
import pandas as pd
df = pd.read_csv('combined.csv')
df=df.drop(columns=["SEX", "Diabetes", "Hypercholest", "Hyperten", "Smoking", "MI", "MR", "PTCA", "CABG", "Enrl", "CCS>II", "HF (signs)", "AAS", "Angina"], axis=1)

In [2]:
df.to_csv ( 'explanation.csv', index = False) #esporto Pandas DataFrame in un file CSV senza includere l'indice

In [3]:
#from sklearn.neural_network import MLPClassifier
#from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
#from sklearn.metrics import f1_score, accuracy_score

In [4]:
import sys
sys.path.append('./')

In [5]:
from util import record2str, neuclidean
from datamanager import prepare_cardiacrisk_dataset, prepare_dataset

In [6]:
import pandas as pd
df = pd.read_csv('explanation.csv')
print(df)

     PzId  Age  SBP   HR  Creat  KILLIP DEP ST   TN CAA   Risk
0       0   73  140   61      1  class1     no   no  no  False
1       1   54  102   55      1  class1    yes   no  no  False
2       2   50  172   76      0  class3     no   no  no  False
3       3   49  141   69      0  class1     no   no  no  False
4       4   70  108   99      2  class2     no  yes  no  False
5       5   70   97  101      1  class1    yes   no  no  False
6       6   86  120   44      0  class3     no   no  no  False
7       7   55  170   39      0  class1     no   no  no  False
8       8   77  153   73      2  class1    yes  yes  no  False
9       9   63  199   94      1  class4     no   no  no  False
10     10   63  107   84      0  class2    yes  yes  no  False
11     11   67  150   64      2  class4     no  yes  no  False
12     12   51  171   33     -2  class3     no  yes  no  False
13     13   64  145   94      1  class2    yes  yes  no  False
14     14   79  131   61      0  class1    yes  yes  no  False
15     15   41  148   97      0  class1     no   no  no  False
16     16   69  156   58      2  class2    yes  yes  no  False
17     17   65  150   88      2  class2    yes  yes  no  False
18     18   71  136   85      1  class3     no  yes  no  False
19     19   56   94   82      0  class2     no  yes  no  False
20     20   68  112   88      2  class4    yes  yes  no  False
21     21   53  146   79      0  class4    yes  yes  no  False
22     22   58  111   66      1  class1    yes  yes  no  False
23     23   58  181   76      1  class4    yes   no  no  False
24     24   74  104   61      2  class1     no  yes  no  False
25     25   44  153  109      2  class2     no  yes  no  False
26     26   77  127   76      0  class2    yes  yes  no  False
27     27   59  162   77      1  class1    yes  yes  no  False
28     28   67  192   76      1  class1     no   no  no  False
29     29   74  136   92      1  class3     no  yes  no  False
..    ...  ...  ...  ...    ...     ...    ...  ...  ..    ...
970   970   61  116   74      4  class2    yes   no  no  False
971   971   62  152  100      0  class3     no   no  no  False
972   972   38  174   66      0  class1    yes   no  no  False
973   973   56  130   79      0  class2     no   no  no  False
974   974   59  142  107      3  class3     no  yes  no  False
975   975   65  118   66      1  class4     no   no  no  False
976   976   70  143   77      0  class4    yes   no  no  False
977   977   66  132  126      1  class2     no  yes  no  False
978   978   66  108   33      3  class2     no   no  no  False
979   979   72  187   71      3  class3     no  yes  no  False
980   980   54  190   77      3  class2    yes  yes  no  False
981   981   44  158   56      2  class3    yes  yes  no  False
982   982   46   91   64      2  class2     no   no  no  False
983   983   68  160   79      1  class3     no   no  no  False
984   984   58  144   29      1  class3     no   no  no  False
985   985   56  178   61      0  class4    yes   no  no  False
986   986   64  138   84      2  class1    yes   no  no  False
987   987   64  106   84      1  class3    yes  yes  no  False
988   988   74  132   66      1  class3     no  yes  no  False
989   989   66  161   50      0  class3    yes   no  no  False
990   990   70  190   77      3  class4     no  yes  no  False
991   991   48  138   95      0  class4     no   no  no  False
992   992   83  168   63      1  class1    yes   no  no  False
993   993   57  161   99      1  class2    yes   no  no  False
994   994   56  128   72      2  class4     no  yes  no  False
995   995   52  121   85      2  class1     no   no  no  False
996   996   44  147   79      2  class3     no  yes  no  False
997   997   47  125   92      2  class4     no  yes  no  False
998   998   68  192  123      3  class3     no  yes  no  False
999   999   73  171  105      0  class3    yes  yes  no  False

[1000 rows x 10 columns]

In [7]:
df.head()

   PzId  Age  SBP  HR  Creat  KILLIP DEP ST   TN CAA   Risk
0     0   73  140  61      1  class1     no   no  no  False
1     1   54  102  55      1  class1    yes   no  no  False
2     2   50  172  76      0  class3     no   no  no  False
3     3   49  141  69      0  class1     no   no  no  False
4     4   70  108  99      2  class2     no  yes  no  False

In [8]:
df[df['Risk']==1] #pazienti con classe di rischio = true = 1, cioè classificati ad alto rischio da grace (considero loro, per trovarne rule e controrule valide, per poi eslporarne il vicinato)

     PzId  Age  SBP   HR  Creat  KILLIP DEP ST   TN CAA  Risk
218   218   82   97  102      2  class4    yes   no  no  True
335   335   70   95   93      2  class1     no   no  no  True
543   543   72  107  115      2  class3    yes   no  no  True
642   642   81   99   67      2  class2    yes   no  no  True
713   713   85   93   78      5  class4    yes   no  no  True
789   789   74  110  112      4  class2    yes  yes  no  True
862   862   85  113  125      3  class3     no   no  no  True

In [9]:
#read and clean il dataset
df, class_name = prepare_cardiacrisk_dataset('explanation.csv')

In [10]:
class_name='Risk'
df, feature_names, class_values, numeric_columns, rdf, real_feature_names, features_map = prepare_dataset(df, class_name)

In [11]:
df.head()

,PzId,Age,SBP,HR,Creat,KILLIP=class1,KILLIP=class2,KILLIP=class3,KILLIP=class4,DEP ST=no,DEP ST=yes,TN=no,TN=yes,CAA=no,Risk
0,0,73,140,61,1,1,0,0,0,1,0,1,0,1,0
1,1,54,102,55,1,1,0,0,0,0,1,1,0,1,0
2,2,50,172,76,0,0,0,1,0,1,0,1,0,1,0
3,3,49,141,69,0,1,0,0,0,1,0,1,0,1,0
4,4,70,108,99,2,0,1,0,0,1,0,0,1,1,0

In [12]:
rdf.head()

   PzId  Age  SBP  HR  Creat  KILLIP DEP ST   TN CAA   Risk
0     0   73  140  61      1  class1     no   no  no  False
1     1   54  102  55      1  class1    yes   no  no  False
2     2   50  172  76      0  class3     no   no  no  False
3     3   49  141  69      0  class1     no   no  no  False
4     4   70  108  99      2  class2     no  yes  no  False

In [13]:
df[df['Risk']==1] #pz con risk=1

,PzId,Age,SBP,HR,Creat,KILLIP=class1,KILLIP=class2,KILLIP=class3,KILLIP=class4,DEP ST=no,DEP ST=yes,TN=no,TN=yes,CAA=no,Risk
218,218,82,97,102,2,0,0,0,1,0,1,1,0,1,1
335,335,70,95,93,2,1,0,0,0,1,0,1,0,1,1
543,543,72,107,115,2,0,0,1,0,0,1,1,0,1,1
642,642,81,99,67,2,0,1,0,0,0,1,1,0,1,1
713,713,85,93,78,5,0,0,0,1,0,1,1,0,1,1
789,789,74,110,112,4,0,1,0,0,0,1,0,1,1,1
862,862,85,113,125,3,0,0,1,0,1,0,1,0,1,1

In [23]:
#divido in train and test set
test_size = 0.005 #99,995 delle righe di pz fanno il training set, le rimanenti il test set
random_state = 0

X_train, X_test, Y_train, Y_test = train_test_split(df[feature_names].values, df[class_name].values, test_size=test_size, random_state=random_state, stratify=df[class_name].values)

_, K, _, _ = train_test_split(rdf[real_feature_names].values, rdf[class_name].values, test_size=test_size, random_state=random_state, stratify=df[class_name].values)

In [24]:
X_test #el del test set

array([[632,  54, 172,  52,   2,   0,   0,   1,   0,   0,   1,   0,   1,
          1],
       [562,  77, 124,  54,   1,   1,   0,   0,   0,   0,   1,   0,   1,
          1],
       [841,  64,  90,  85,   1,   1,   0,   0,   0,   0,   1,   1,   0,
          1],
       [192,  67, 105,  78,   1,   0,   0,   1,   0,   1,   0,   0,   1,
          1],
       [688,  52, 158,  68,   3,   0,   1,   0,   0,   0,   1,   1,   0,
          1]], dtype=int64)

In [25]:
X_train #el del training set

array([[382,  65, 123, ...,   0,   1,   1],
       [237,  70, 111, ...,   0,   1,   1],
       [729,  61, 158, ...,   0,   1,   1],
       ...,
       [797,  61, 120, ...,   0,   1,   1],
       [600,  48, 140, ...,   0,   1,   1],
       [819,  62, 110, ...,   0,   1,   1]], dtype=int64)

In [ ]:
import pandas as pd
from grace2 import grace

def bb_predict(X):  #return true/false
    Y=[]
    risk_factors=["Age", "HR", "SBP", "KILLIP", "CAA", "TN", "Creat", "DEP ST"]

    j=5
    for i in X:
        while j < len(X[i]): #for j in range (5, len(X[i])):
                if X[i][5] == 0:
                    X.remove(X[i][5]) 
                    j = j + 1
                elif X[i][5] == 1:
                    X.insert(X[i][5]) = class1
                    j = j + 1
                if X[i][6] == 0:
                    X.remove(X[i][6])
                    j = j + 1
                elif X[i][6] == 1:
                    X.insert(X[i][6]) = class2
                    j = j + 1 
                if X[i][7] == 0:
                    X.remove(X[i][7]) 
                    j = j + 1 
                elif X[i][7] == 1:
                    X.insert(X[i][7]) = class3
                    j = j + 1 
                if X[i][8] == 0:
                    X.remove(X[i][8]) 
                    j = j + 1 
                elif X[i][8] == 1:
                    X.insert(X[i][8]) = class4  
                    j = j + 1
                if X[i][9] == 0:
                    X.insert(X[i][9]) = no
                    X.remove(X[i][10]) 
                    j = j + 1
                elif X[i][9] == 1:
                    X.insert(X[i][9]) = yes
                    X.remove(X[i][10])
                    j = j + 1 
                if X[i][11] == 0: 
                    X.insert(X[i][11]) = no
                    X.remove(X[i][12]) 
                    j = j + 1
                elif X[i][11] == 1:
                    X.insert(X[i][11]) = yes
                    X.remove(X[i][12])
                    j = j + 1
                elif X[i][13] == 1:
                    X.insert(X[i][13]) = no
                    j = j + 1
     #print('Updated X: ', X)   
            
    #per passare da list of list a dataframe
    df = pd.DataFrame(X, columns = ['PzId', 'Age', 'SBP', 'HR', 'Creat', 'KILLIP', 'DEP ST', 'TN', 'CAA'])
    #df= pd.DataFrame(X)
    #df = df.transpose()
    #df.columns = ['PzId', 'Age', 'SBP', 'HR', 'Creat', 'KILLIP', 'DEP ST', 'TN', 'CAA']
    print(df)
    
    patient_data = df.set_index('PzId')[risk_factors]
    for index, patient in patient_data.iterrows():
        risk = grace(patient, risk_factors)  #risk
        #print (index, risk)
        Y.append(risk)
        #print(Y)
    return Y     
           
    
def bb_predict_proba(X):  #return 1/0
    Z=[]
    risk_factors=["Age", "HR", "SBP", "KILLIP", "CAA", "TN", "Creat", "DEP ST"]
    
    j=5
    for i in X:
        while j < len(X[i]): #for j in range (5, len(X[i])):
                if X[i][5] == 0:
                    X.remove(X[i][5]) 
                    j = j + 1
                elif X[i][5] == 1:
                    X.insert(X[i][5]) = class1
                    j = j + 1
                if X[i][6] == 0:
                    X.remove(X[i][6])
                    j = j + 1
                elif X[i][6] == 1:
                    X.insert(X[i][6]) = class2
                    j = j + 1
                if X[i][7] == 0:
                    X.remove(X[i][7]) 
                    j = j + 1
                elif X[i][7] == 1:
                    X.insert(X[i][7]) = class3
                    j = j + 1
                if X[i][8] == 0:
                    X.remove(X[i][8]) 
                    j = j + 1
                elif X[i][8] == 1:
                    X.insert(X[i][8]) = class4  
                    j = j + 1
                if X[i][9] == 0:
                    X.insert(X[i][9]) = no
                    X.remove(X[i][10]) 
                    j = j + 1
                elif X[i][9] == 1:
                    X.insert(X[i][9]) = yes
                    X.remove(X[i][10])
                    j = j + 1
                if X[i][11] == 0: 
                    X.insert(X[i][11]) = no
                    X.remove(X[i][12]) 
                    j = j + 1
                elif X[i][11] == 1:
                    X.insert(X[i][11]) = yes
                    X.remove(X[i][12])
                    j = j + 1
                elif X[i][13] == 1:
                    X.insert(X[i][13]) = no
                    j = j + 1
            #print('Updated X: ', X) 
          
    data_transposed = zip(X)
    df = pd.DataFrame(data_transposed, columns = ['PzId', 'Age', 'SBP', 'HR', 'Creat', 'KILLIP', 'DEP ST', 'TN', 'CAA']) 
    print(df)
        
    patient_data = df.set_index('PzId')[risk_factors]
    for index, patient in patient_data.iterrows():
        risk = grace(patient, risk_factors)  #risk
            #print (index, risk)
        if risk == False:
            Z.append(0)
        else:
            Z.append(1)
        #print(Z)    
    return Z

In [ ]:
Y_pred = bb_predict(X_train)

#print('Accuracy %.3f' % accuracy_score(Y_test, Y_pred))
#print('F1-measure %.3f' % f1_score(Y_test, Y_pred)) non avendo dati originari non la posso calcolare

In [ ]:
#seleziono un pz da spiegare
i2e = 218   #esempio(gli passo un PzId)
x = df.iloc[i2e]

print('x = %s' % record2str(x, feature_names, numeric_columns))
print('')

In [ ]:
bb_outcome = bb_predict(x.values.reshape(1, -1))[0]   
bb_outcome_str = class_values[bb_outcome]

print('bb(x) = { %s }' % bb_outcome_str)
print(x)

In [ ]:
#LIME

import lime
from lime.lime_tabular import LimeTabularExplainer

In [ ]:
lime_explainer = LimeTabularExplainer(X_test, feature_names=feature_names,
                                      class_names=class_values, discretize_continuous=False)
exp = lime_explainer.explain_instance(x, bb_predict_proba)
exp.show_in_notebook()

In [ ]:
#SHAP

import shap

shap.initjs()

In [ ]:
import numpy as np

f = lambda x: bb_predict_proba(x)[:, 1]
med = np.median(X_test, axis=0).reshape((1, X_test.shape[1]))
shap_explainer = shap.KernelExplainer(f, med)

shap_values_single = shap_explainer.shap_values(x, nsamples=300)
shap.force_plot(shap_explainer.expected_value, shap_values_single, features=x, feature_names=feature_names)
shap_values = shap_explainer.shap_values(X_test[0:100,:], nsamples=300)
shap.force_plot(shap_explainer.expected_value, shap_values, X_test[0:100,:], feature_names=feature_names)

shap.summary_plot(shap_values, X_test[0:100,:], feature_names=feature_names)

In [ ]:
#LORE

sys.path.append('./lore/')

In [ ]:
from lorem import LOREM

lore_explainer = LOREM(K, bb_predict, feature_names, class_name, class_values, numeric_columns, features_map,
                       neigh_type='geneticp', categorical_use_prob=True, continuous_fun_estimation=False, 
                       size=300, ocr=0.1, random_state=random_state, ngen=10, bb_predict_proba=bb_predict_proba, 
                       verbose=True)

In [ ]:
exp = lore_explainer.explain_instance(x, samples=300, use_weights=True, metric=neuclidean)

In [ ]:
print(exp)

In [ ]:
x1 = x.copy()
x1[12 + 9] = 0
x1[26] = 1

print('x = %s' % record2str(x1, feature_names, numeric_columns))
print('')

In [ ]:
bb_outcome = bb_predict(x1.reshape(1, -1))[0]
bb_outcome_str = class_values[bb_outcome]

print('bb(x) = { %s }' % bb_outcome_str)
print('')

In [ ]:
exp = lore_explainer.explain_instance(x1, samples=300, use_weights=True, metric=neuclidean)
print(exp)